:root {
/* Font Family */
  --font-sora: 'Sora', sans-serif;

  /* Font Sizes */
  --fs-title: 1.125rem;   /* 18px */
  --fs-body: 0.875rem;    /* 14px */
  --fs-small: 0.75rem;    /* 12px */
  --fs-tag: 0.625rem;     /* 10px */

  /* Colors */
  --color-primary: #7C19EE;
  --color-primary-soft: #F2EAFD;
  --color-gray-light: #E5EAF0;
  --color-gray-background: #FAFAF9;
  --color-white: #FFFFFF;
  --color-dark: #20293A;
  --color-dark-soft: #394150;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-weight: normal;
  box-sizing: border-box;
}