@import 'tailwindcss';

@font-face {
  font-family: 'Sora';
  src: url('/resources/Sora-VariableFont_wght.ttf') format('ttf');
  font-style: normal;
  font-display: swap;
}

@theme {
  /* Font Family */
  --font-sora: 'Sora', sans-serif;

  /* Font Sizes */
  --text-title: 1.125rem; /* 18px */
  --text-body: 0.875rem; /* 14px */
  --text-small: 0.75rem; /* 12px */
  --text-tag: 0.625rem; /* 10px */

  /* Colors */
  --color-purple: #7c19ee;
  --color-purple-soft: #f2eafd;
  --color-white: #ffffff;
  --color-dark: #20293a;
  --color-dark-soft: #394150;
  --shadow-card: 8px 8px 20px 0px rgba(85, 85, 85, 0.08);
}